.side-menu
  .user-var
    %h3.user-var__name
      = current_user.name
    %ul.user-var__menus
      %li.user-var__menus--list
        = link_to root_path do
          %i.fa.fa-edit
      %li.user-var__menus--list
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
  .group-var
    .group
      %h3.group__name
        test
      %p.group__message
        まだメッセージはありません
    .group
      %h3.group__name
        aaaa
      %p.group__message
        まだメッセージはありません
    .group
      %h3.group__name
        sample
      %p.group__message
        まだメッセージはありません
