// colors
$white: #ffffff;
$light-blue: #38AEF0;
$navy-blue: #2f3e51;
$dark-blue: #253141;
$black: #333333;
$lamp-black: #434a54;
$gray: #999999;
$dark-gray: #aaaaaa;
$pearl-gray: #c8d0d3;
$light-gray: #EFEFEF;
$border-color: #eeeeee;
$alert_orange: #F35500;
